@font-face {
    font-family: "Heebo Regular";
    src: local("Heebo Regular"), url("/fonts/Heebo/static/Heebo-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Heebo Medium";
    src: local("Heebo Medium"), url("/fonts/Heebo/static/Heebo-Medium.ttf") format("truetype")
}

@font-face {
    font-family: "Heebo Bold";
    src: local("Heebo Bold"), url("/fonts/Heebo/static/Heebo-Bold.ttf") format("truetype")
}

@font-face {
    font-family: "Heebo Black";
    src: local("Heebo Black"), url("/fonts/Heebo/static/Heebo-Black.ttf") format("truetype")
}